---
services:
    db:
        image: pgvector/pgvector:pg17
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        ports:
            - "5433:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data
        healthcheck:
            test:
                [
                    "CMD-SHELL",
                    'pg_isready -U "$POSTGRES_USER" -d "$POSTGRES_DB"',
                ]
            interval: 5s
            timeout: 5s
            retries: 5
    redis:
        image: redis/redis-stack:7.4.0-v8
        ports:
            - 8001:8001
            - 6379:6379
        volumes:
            - redis_data:/data
        environment:
            REDIS_ARGS: "--requirepass ${REDIS_PASSWORD}"
        healthcheck:
            test: ["CMD", "redis-cli", "-a", "${REDIS_PASSWORD}", "ping"]
            interval: 5s
            timeout: 5s
            retries: 5
volumes:
    pgdata:
    redis_data:
