---
services:
    db:
        image: pgvector/pgvector:pg17
        environment:
            POSTGRES_USER: ${POSTGRES_USER}
            POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
            POSTGRES_DB: ${POSTGRES_DB}
        ports:
            - "5433:5432"
        volumes:
            - pgdata:/var/lib/postgresql/data
        healthcheck:
            test:
                [
                    "CMD-HEALTCHECK",
                    "pg_isready",
                    "-U",
                    "$POSTGRES_USER",
                    "-d",
                    "$POSTGRES_DB",
                ]
            interval: 5s
            timeout: 5s
            retries: 5

volumes:
    pgdata:
